@import url(https://fonts.googleapis.com/css?family=Coiny);

html,body {
  height:100%;
  font-family: 'Coiny', cursive;
}

h1 {
  font-size:80px;
  color:  #ffffff;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  